email classififer.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        80
      ],
      "id": "3ae7f590-f2f5-4e7c-8049-86da4c26c1d1",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "2jarAx9k5qzKomdt",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an email classifier. Read this email and reply \nin this exact format and nothing else:\n\nCATEGORY: [Urgent/General/Spam]\nREASON: [one sentence explaining why]\n\nEmail content: {{ $json.snippet }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        224,
        80
      ],
      "id": "5fe0d145-154e-41e0-b617-4233a0be3c03",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "YsdmQQd5GnPKU8TF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.content.parts[0].text }}",
                    "rightValue": "Urgent",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "4fe2b1c7-cf91-40c6-8242-2efbe3d6e7c7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "urgent"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "462a9fa5-e255-4925-bdfd-75e9f9c5755c",
                    "leftValue": "={{ $json.content.parts[0].text }}",
                    "rightValue": "General",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "general"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "45d4ace7-bcc7-447f-8bd3-5e195e36c4fc",
                    "leftValue": "={{ $json.content.parts[0].text }}",
                    "rightValue": "=Spam",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "spam"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        576,
        64
      ],
      "id": "18b09a22-9275-41e2-b802-7ab5dd0d237d",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Write a short professional reply (2-3 sentences) to this email.\nOnly write the reply body, nothing else.\n\nOriginal email: {{ $('Gmail Trigger').item.json.snippet }}\nSubject: {{ $('Gmail Trigger').item.json.Subject }}\nFrom: {{ $('Gmail Trigger').item.json.From }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        800,
        -112
      ],
      "id": "4e12bc7f-9ec9-4e00-a596-663050483491",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "YsdmQQd5GnPKU8TF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Re: {{ $('Gmail Trigger').item.json.Subject }}",
        "message": "={{ $('Message a model1').item.json.content.parts[0].text }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1152,
        -112
      ],
      "id": "e5a2fd39-f739-4bfd-8643-89270f8f3c7c",
      "name": "Create a draft",
      "webhookId": "6eab535a-e8ae-4f12-aeda-22e2fd89a95e",
      "credentials": {
        "gmailOAuth2": {
          "id": "2jarAx9k5qzKomdt",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6183238112",
        "text": "=⚠️ URGENT EMAIL RECEIVED!  From: {{ $('Gmail Trigger').item.json.From }} Subject: {{ $('Gmail Trigger').item.json.Subject }}  AI Analysis: {{ $('Message a model').item.json.content.parts[0].text }}  ✅ Draft reply saved in your Gmail drafts!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1664,
        -96
      ],
      "id": "09a473e9-ec97-4465-81df-d7ebfacb286a",
      "name": "Send a text message",
      "webhookId": "6bd7f8ad-1053-4575-8039-aff28e3ec8f2",
      "credentials": {
        "telegramApi": {
          "id": "yniwksLeYsRimCxR",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12K_8D5wspc6IQZRzVRcOyUgsghZydodfqtT1pCQ_z9s",
          "mode": "list",
          "cachedResultName": "email logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12K_8D5wspc6IQZRzVRcOyUgsghZydodfqtT1pCQ_z9s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12K_8D5wspc6IQZRzVRcOyUgsghZydodfqtT1pCQ_z9s/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $('Gmail Trigger').item.json.internalDate }}",
            "From": "={{ $('Gmail Trigger').item.json.From }}",
            "Subject": "={{ $('Gmail Trigger').item.json.Subject }}",
            "Category": "={{ $('Message a model').item.json.content.parts[0].text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1408,
        -96
      ],
      "id": "74836bc1-07d7-4389-9c47-16a192f41aa0",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "i73lfCNy2oMeropj",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12K_8D5wspc6IQZRzVRcOyUgsghZydodfqtT1pCQ_z9s",
          "mode": "list",
          "cachedResultName": "email logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12K_8D5wspc6IQZRzVRcOyUgsghZydodfqtT1pCQ_z9s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12K_8D5wspc6IQZRzVRcOyUgsghZydodfqtT1pCQ_z9s/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $('Gmail Trigger').item.json.internalDate }}",
            "From": "={{ $('Gmail Trigger').item.json.From }}",
            "Subject": "={{ $('Gmail Trigger').item.json.Subject }}",
            "Category": "={{ $('Message a model').item.json.content.parts[0].text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1136,
        384
      ],
      "id": "33d7ba0b-d147-4e3a-84c8-84db9787714a",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "i73lfCNy2oMeropj",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12K_8D5wspc6IQZRzVRcOyUgsghZydodfqtT1pCQ_z9s",
          "mode": "list",
          "cachedResultName": "email logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12K_8D5wspc6IQZRzVRcOyUgsghZydodfqtT1pCQ_z9s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12K_8D5wspc6IQZRzVRcOyUgsghZydodfqtT1pCQ_z9s/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $('Gmail Trigger').item.json.internalDate }}",
            "From": "={{ $('Gmail Trigger').item.json.From }}",
            "Subject": "={{ $('Gmail Trigger').item.json.Subject }}",
            "Category": "={{ $('Message a model').item.json.content.parts[0].text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1440,
        128
      ],
      "id": "95822473-aed7-496c-a43b-1c07ddb859c3",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "i73lfCNy2oMeropj",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.From }}",
        "subject": "=Re: {{ $('Gmail Trigger').item.json.Subject }}",
        "emailType": "text",
        "message": "Thank you for reaching out! We have received your email  and will get back to you within 24 hours.  Best regards, [Your Name]",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1136,
        112
      ],
      "id": "655cf79b-e08b-4c39-8bfa-e6c25dbe29e0",
      "name": "Send a message",
      "webhookId": "3c989b0c-6932-4152-adbc-74dd146a2053",
      "credentials": {
        "gmailOAuth2": {
          "id": "2jarAx9k5qzKomdt",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c7cf63b9-b7d9-4211-b884-176e8002ea49",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "274a3fa70d049dcce0f505596a7348617aa99befbbd82a8976318f943475317d"
  },
  "id": "bMPp0qO2XSoa4Ne0",
  "tags": []
}